{% extends 'index.html' %}
{% block body %}
<div class="container">
	<div class="msg">
	<div class="jumbotron">
		<div class="container">
			<h2>Hello {{ name }}, Welcome to Leave Tracker portal!!!</h2>
		</div>
	</div>
	</div>
</div>

<div class="container">
	<div class="msg">
	<div class="row">
		<div class="container">
			<div class="col-md-8">
                <P><h3>Here you can apply for a leave / cancel a leave plan / add comp-off here. </h3></P>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}